<div>
	<app-media-object class="">
		<h3 class="">Media Object Title</h3>
		<img media src="https://placekitten.com/75/75" alt="Kitteh" />
		<app-media-object class="">
			<h3 class="">Media Object Title</h3>
			<img media src="https://placekitten.com/90/90" alt="Kitteh" />
			<app-media-object class="">
				<img media src="https://placekitten.com/110/110" alt="Kitteh" />
				<p>
					This is the media object content it can be anything including another
					media object.
				</p>
			</app-media-object>
			<app-media-object class="">
				<fa-icon [icon]="faCoffee" media></fa-icon>
				<p>
					This is the media object content it can be anything including another
					media object.
				</p>
			</app-media-object>
		</app-media-object>
	</app-media-object>
</div>
<router-outlet></router-outlet>
